description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/dotnet-core:0.48.1"
  version = "0.48.1"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/go:4.9.1"
  version = "4.9.1"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java-native-image:9.8.0"
  version = "9.8.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java:15.2.0"
  version = "15.2.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/nodejs:3.0.2"
  version = "3.0.2"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/procfile:5.9.1"
  version = "5.9.1"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/python:2.20.0"
  version = "2.20.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/ruby:0.47.3"
  version = "0.47.3"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/web-servers:0.24.1"
  version = "0.24.1"

[lifecycle]
  version = "0.20.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.3"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "0.48.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.9.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "9.8.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "15.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "0.24.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "3.0.2"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.20.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.9.1"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.124"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
  run-image-mirrors = []
