description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:4.0.5"
  version = "4.0.5"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.19.7"
  version = "4.19.7"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:14.0.0"
  version = "14.0.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:21.1.0"
  version = "21.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:10.0.6"
  version = "10.0.6"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.13.0"
  version = "5.13.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.42.0"
  version = "2.42.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:1.0.0"
  version = "1.0.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:4.0.5"
  version = "4.0.5"

[lifecycle]
  version = "0.21.4"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "1.0.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "4.0.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.19.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "14.0.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "21.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "4.0.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "10.0.6"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.42.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.13.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.198"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
