description = "Ubuntu jammy base image with buildpacks for Java, Go, and Procfile"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/go:1.7.0"
  version = "1.7.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java-native-image:7.23.0"
  version = "7.23.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java:6.31.0"
  version = "6.31.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/procfile:5.2.0"
  version = "5.2.0"

[lifecycle]
  version = "0.14.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "7.23.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "6.31.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "1.7.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.2.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.0.5"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
  run-image-mirrors = []
