description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX, Procfile, Rust, and Helm chart OCI"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:4.1.0"
  version = "4.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.19.7"
  version = "4.19.7"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:14.1.0"
  version = "14.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:21.2.0"
  version = "21.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:10.1.0"
  version = "10.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.13.0"
  version = "5.13.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.43.0"
  version = "2.43.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:1.1.0"
  version = "1.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:4.1.0"
  version = "4.1.0"

[[buildpacks]]
  uri = "docker://ghcr.io/octopilot/rust:0.1.6"
  version = "0.1.6"

[[buildpacks]]
  uri = "docker://ghcr.io/octopilot/helm:0.1.0"
  version = "0.1.0"

[lifecycle]
  version = "0.21.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "1.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "4.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.19.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "14.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "21.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "4.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "10.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.43.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.13.0"

[[order]]

  [[order.group]]
    id = "octopilot/rust"
    version = "0.1.6"

[[order]]

  [[order.group]]
    id = "octopilot/helm"
    version = "0.1.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.202"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:0.1.196"
