description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/dotnet-core:1.1.0"
  version = "1.1.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/go:4.12.7"
  version = "4.12.7"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java-native-image:11.2.0"
  version = "11.2.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java:17.3.0"
  version = "17.3.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/nodejs:7.0.0"
  version = "7.0.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/procfile:5.10.1"
  version = "5.10.1"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/python:2.22.5"
  version = "2.22.5"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/ruby:0.47.6"
  version = "0.47.6"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/web-servers:1.0.0"
  version = "1.0.0"

[lifecycle]
  version = "0.20.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.6"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "1.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.12.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "11.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "17.3.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "1.0.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "7.0.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.22.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.10.1"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.135"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
  run-image-mirrors = []
