description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:3.10.1"
  version = "3.10.1"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.18.10"
  version = "4.18.10"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.4.0"
  version = "13.4.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.4.0"
  version = "20.4.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:9.15.3"
  version = "9.15.3"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.12.0"
  version = "5.12.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.38.7"
  version = "2.38.7"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:0.47.12"
  version = "0.47.12"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:3.3.4"
  version = "3.3.4"

[lifecycle]
  version = "0.20.19"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.12"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "3.10.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.18.10"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "3.3.4"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "9.15.3"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.12.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.185"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
