description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:3.5.0"
  version = "3.5.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.18.6"
  version = "4.18.6"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.2.0"
  version = "13.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.2.1"
  version = "20.2.1"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:9.14.1"
  version = "9.14.1"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.11.4"
  version = "5.11.4"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.38.2"
  version = "2.38.2"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:0.47.9"
  version = "0.47.9"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:3.1.0"
  version = "3.1.0"

[lifecycle]
  version = "0.20.18"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.9"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "3.5.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.18.6"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.2.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "3.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "9.14.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.2"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.11.4"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.179"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
