description = "Ubuntu 22.04 Jammy Jellyfish base image with buildpacks for Java, Go, .NET Core, Node.js, Python, Apache HTTPD, NGINX and Procfile"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:3.2.0"
  version = "3.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.18.5"
  version = "4.18.5"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.1.0"
  version = "13.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.1.0"
  version = "20.1.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:9.13.0"
  version = "9.13.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.11.4"
  version = "5.11.4"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.38.0"
  version = "2.38.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:0.47.7"
  version = "0.47.7"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:2.12.1"
  version = "2.12.1"

[lifecycle]
  version = "0.20.17"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.7"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "3.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.18.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "2.12.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "9.13.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.11.4"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-base:0.1.178"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-base:latest"
